<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Add Resource</title>
  </head>
  <body>

    

    <div class="container mt-3">    
        <form action="/update/<%= data._id %>" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-3">
                    <label class="font-weight-bold"> Name </label>
                    <input type="text" name="name" value="<%= data.name %>" class="form-control form-control-sm" placeholder="name">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Delievery </label>
                    <input type="text" name="delivery" value="<%= data.delivery %>" class="form-control form-control-sm" placeholder="delivery">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Set Name </label>
                    <input type="text" name="set_name" value="<%= data.set_name %>" class="form-control form-control-sm" placeholder="set name">
    
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Bid Strategy </label>
                    <input type="text" name="bid_strategy" value="<%= data.bid_strategy %>" class="form-control form-control-sm" placeholder="bid strategy"> 
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Budget </label>
                    <input type="text" name="budget" value="<%= data.budget %>" class="form-control form-control-sm" placeholder="budget">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Results </label>
                    <input type="text" name="results" value="<%= data.results %>" class="form-control form-control-sm" placeholder="results">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Impressions </label>
                    <input type="text" name="impressions" value="<%= data.impressions %>" class="form-control form-control-sm" placeholder="impressions">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Cost per Result </label>
                    <input type="text" name="cost_per_result" value="<%= data.cost_per_result %>" class="form-control form-control-sm" placeholder="COP">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Add to Cart </label>
                    <input type="text" name="add_to_cart" value="<%= data.add_to_cart %>" class="form-control form-control-sm" placeholder="add to cart">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Purchases </label>
                    <input type="text" name="purchases" value="<%= data.purchases %>" class="form-control form-control-sm" placeholder="purchases">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Amount Spent </label>
                    <input type="text" name="amount_spent" value="<%= data.amount_spent %>" class="form-control form-control-sm" placeholder="amount spent">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Purchase Connection Value </label>
                    <input type="text" name="purchase_con_val" value="<%= data.purchase_con_val %>" class="form-control form-control-sm" placeholder="purchase conversions value">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Purchase ROAS </label>
                    <input type="text" name="purchase_roas" value="<%= data.purchase_roas %>" class="form-control form-control-sm" placeholder="purchase ROAS">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Unique Link Click </label>
                    <input type="text" name="unique_link_click" value="<%= data.unique_link_click %>" class="form-control form-control-sm" placeholder="unique link click">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> CPC </label>
                    <input type="text" name="cpc" value="<%= data.cpc %>" class="form-control form-control-sm" placeholder="cpc">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Company Name </label>
                    <input type="text" name="company_name" value="<%= data.company_name %>" class="form-control form-control-sm" placeholder="company name">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Ship Date </label>
                    <input type="date" name="ship_date" value="<%= data.ship_date %>" class="form-control form-control-sm" placeholder="ship date">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Status </label>
                    <input type="text" name="status" value="<%= data.status %>" class="form-control form-control-sm" placeholder="status">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Type </label>
                    <input type="text" name="type" value="<%= data.type %>" class="form-control form-control-sm" placeholder="type">
                  </div>
                  <div class="col-3">
                    <label class="font-weight-bold"> Image </label>
                    <input type="file" class="form-control form-control-sm" name="blogimage" >
                  </div>

                  <div class="col-3">
                    <span class="font-weight-bold">Old Picture : </span><img src="/<%= data.fileinfo %>" style="width: 100px; height: 60px;" alt="photo" />
                  </div>
               
            </div>

            <div class="row d-flex justify-content-center mt-5">
                <div>
                    <button type="submit"  class="btn btn-sm btn-success">
                        Update
                    </button>
                </div>
            </div>

        </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>